/* /Components/Meal/MealOverview.razor.rz.scp.css */
.meal-card[b-0eyrsk0t5a] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    border-radius: 5px;

    padding: 16px;
}

.meal-card:hover[b-0eyrsk0t5a] {
    transform: scale(1.05);
    background-color: #f9f9f9;
    cursor: pointer;
}
/* /Components/Meal/RecipeCard.razor.rz.scp.css */
.about[b-rfulp435vl] {
    font-size: 0.9em;
    color: gray;
}

.recipe-card[b-rfulp435vl] {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: 0.2s ease-in-out;
    transform: scale(1);
}

.recipe-card:hover[b-rfulp435vl] {
    background-color: #f1f1f1;
    transform: scale(1.01);
}
/* /Components/Partials/RecipeModal.razor.rz.scp.css */
.meal-card[b-9q0em7qpvl] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    border-radius: 5px;

    padding: 16px;
}

.meal-card:hover[b-9q0em7qpvl] {
    transform: scale(1.05);
    background-color: #f9f9f9;
    cursor: pointer;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-8rlg52xiqw] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8rlg52xiqw] {
    flex: 1;
}

.sidebar[b-8rlg52xiqw] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8rlg52xiqw] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8rlg52xiqw]  a, .top-row[b-8rlg52xiqw]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8rlg52xiqw]  a:hover, .top-row[b-8rlg52xiqw]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8rlg52xiqw]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-8rlg52xiqw] {
        justify-content: space-between;
    }

    .top-row[b-8rlg52xiqw]  a, .top-row[b-8rlg52xiqw]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8rlg52xiqw] {
        flex-direction: row;
    }

    .sidebar[b-8rlg52xiqw] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8rlg52xiqw] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8rlg52xiqw]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8rlg52xiqw], article[b-8rlg52xiqw] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavBar.razor.rz.scp.css */
.navButton[b-559golpq1i] {
    color: var(--bs-secondary);
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.navButton:hover[b-559golpq1i] {
    background-color: #dfdfdf;
    color: rgb(58, 58, 58);
    cursor: pointer;
}

.navButtonActive[b-559golpq1i] {
    border-radius: 10px;
    background-color: #dfdfdf;
    color: rgb(58, 58, 58);
    cursor: initial;
}
/* /Pages/Planning/Planning.razor.rz.scp.css */
