@inject NavigationManager NavigationManager
@if (IsLoaded == false)
{

    <div class="card">
        <div class="card-body">
            <div class="placeholder-glow">
                <h4>
                    <span class="placeholder col-6"></span>
                </h4>
                <h6>
                    <span class="placeholder col-4"></span>
                </h6>
            </div>
        </div>
    </div>

}
else if (MealName != null && MealType != null)
{
    <div class="d-flex justify-content-between align-items-center">
        <div class="card">
            <div class="card-body">
                <h4>@MealName</h4>
                <h6>@MealType</h6>
            </div>
        </div>
        <div class="class">
            <button class="btn btn-outline-primary d-flex align-items-center gap-2">
                <i class="bi bi-pencil-square fs-2"></i>
                <span class="d-md-block d-none">
                    Modifier le repas
                </span>
            </button>
        </div>
    </div>

}
else
{
    <button class="btn btn-outline-success d-flex align-items-center gap-2" @onclick="NavigateToMealSelector">
        <i class="bi bi-plus-square fs-2"></i>
        <span>
            Ajouter un repas
        </span>
    </button>
}