.progress-card {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.progress-card:hover {
    transform: scale(1.01);
}

.progress-card main {
    border-top: 1px solid #272727;
    padding-top: 10px;
}

.progress-card footer {
    border-top: 1px solid #a3a3a3;
    padding-top: 10px;
    text-align: right;
}

.progress-card i {
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.progress-card i:hover {
    transform: scale(1.2);
}

.type-weight {
    background-color: rgb(233, 215, 250);
    border: 2px solid #9e4caf;
}

.type-measurement {
    background-color: rgb(250, 223, 215);
    border: 2px solid #ff7043;
}

.type-photo {
    background-color: rgb(215, 230, 250);
    border: 2px solid #4287f5;
}

.type-free-comment {
    background-color: rgb(240, 240, 240);
    border: 2px solid #888888;
}