@page "/test"
@using Fao.Front_End.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject AuthService AuthService
@inject MealService MealService
@inject IJSRuntime JS




<PageTitle>Test Page</PageTitle>
<h2>Test = @(Meal == null ? "Chargement..." : Meal)</h2>

@code {
    private string? Meal;

    protected override async Task OnInitializedAsync()
    {
        string? uuid = await AuthService.GetUUIDFromToken();
        var result = await MealService.GetMealOverviewAsync(mealDate: DateTime.Now);
        var test = await MealService.GetRecipeOverviewAsync(result?.LunchId);
        Meal = test?.Title;
    }
}