@page "/test"
@using Fao.Front_End.Models
@using Fao.Front_End.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@inject AuthService AuthService
@inject MealService MealService
@inject AchievementService AchievementService
@inject IJSRuntime JS




<PageTitle>Test Page</PageTitle>
@if (!isLoaded)
{
    <p>Loading...</p>
}
else
{
    <p>@achievement.Weight</p>
}


@code {

    bool isLoaded = false;
    private AchievementDTO achievement = new AchievementDTO();
    protected override async Task OnInitializedAsync()
    {
        var achievements = await AchievementService.GetAllAchievementsAsync();
        isLoaded = true;

        achievement = achievements.FirstOrDefault() ?? new AchievementDTO();

    }
}