@page "/test"
@using Fao.Front_End.Services
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@inject AuthService AuthService
@inject IJSRuntime JS

<PageTitle>Test Page</PageTitle>
<h2>uuid = @uuid</h2>

@code {

    private string? uuid = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        uuid = await AuthService.GetUUIDFromToken();
    }
}