.plus-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 10000;
}

.progress-card {
    cursor: pointer;
    background-color: rgb(219, 250, 215);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 15px;
    margin-bottom: 15px;
    width: 250px;
}

.progress-card:hover {
    transform: scale(1.05);
}

.progress-card main {
    border-top: 1px solid #272727;
    padding-top: 10px;
}

.progress-card footer {
    border-top: 1px solid #a3a3a3;
    padding-top: 10px;
    text-align: right;
}

.progress-card i {
    top: -15px;
    right: -15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.progress-card i:hover {
    transform: scale(1.2);
}