

.navButton[b-559golpq1i] {
    color: var(--bs-secondary);   
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.navButton:hover[b-559golpq1i] {
    background-color: #dfdfdf;
    color: rgb(58, 58, 58);
    cursor: pointer;
}